

html {
    margin: 0;
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
    
}

#myBoard {
    
    width: 75%;
    max-width: 800px;

}
#myBoard_parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div.chessboard-63f37 {
    size: 100%;
}

div.board-72b1 {
    size: 100%; */

/* @media screen and (max-height: 920px) {
    #myBoard {
        height: 90%;
    }
}

@media screen and (max-height: 860px) {
    #myBoard {
        width: 70vh;
    }
} */